body {
	font-family: georgia, serif;
	background: url('../images/chocolate-bar-bkg.jpg');
	background-repeat: repeat-y;
	background-size: cover;
}
html {
	font-size: 10px;
}
h1 {
	width: 750px;
	padding: 25px;
	border: 7px;
	border-style: double;
	border-color: rgb(171, 4, 82);
	font-size: 4.2em;
	color: rgb(171, 4, 82);
	background-color: rgb(255, 181, 0);
	text-align: center;
}
h2 {
	font-size: 3em;
	color: rgb(171, 4, 82);
}
p {
	font-size: 2em;
	line-height: 1.5;
	text-align: center;
	color: rgb(171, 4, 82);
	background-color: rgb(255, 181, 0);
	opacity: 80%;
	padding: 15px;
	border: 5px;
	border-style: double;
	border-color: rgb(171, 4, 82);
	width: 750px;
	height: auto;
}
a {
	color: rgb(20, 134, 140);
}
ul, ol {
	font-size: 2em;
	line-height: 1.7;
	color: rgb(171, 4, 82);
}
article {
	background-color: rgb(255, 181, 0);
	opacity: 80%;
	margin: 10px;
	padding: 15px;
	border: 5px;
	border-style: double;
	border-color: rgb(171, 4, 82);
}
section {
	display: flex;
	width: auto;
	flex-direction: row;
	clear: right;
}
.one {
	display: flex;
	width: 1000px;
	flex-direction: column;
	margin-left: 100px;
}
.two {
	float: right;
	background-color: rgb(255, 181, 0);
	width: 350px;
	height: 480px;
	padding: 15px;
	border: 15px;
	border-style: dotted;
	border-color: rgb(171, 4, 82);
	margin-right: 10px;
	margin-top: 50px;
}
img {
	width: 100%;
}
